<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> <%= t('people.errors.prohibited_this_person') %></h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('people.first_name') %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label t('people.last_name') %>
    <%= form.text_field :last_name  %>
  </div>

  <div class="field">
    <%= form.label t('people.email') %>
    <%= form.text_field :email  %>
  </div>

  <div class="field">
    <%= form.label t('people.age') %>
    <%= form.number_field :age  %>
  </div>

  <div class="field">
    <%= form.label t('people.gender') %>
    <%= form.text_field :gender  %>
  </div>

  <div class="actions">
    <%= form.submit t('global.forms.submit'), class: "btn btn-primary" %>
  </div>
<% end %>